.chart-container {
    position: relative;
    height: 500px;
    width: 1000px;
    max-width: 100%;
}

.age-group-button {
    margin-top: 20px;
    color: #000000;
    font-size: 14px;
}

.data-source-text {
    margin-top: 50px;
    font-size: 14px;
}
.data-source-text > span {
    color: #000000;
}
